frontend/node_modules/
frontend/.next/
frontend/out/
frontend/.env 
backend/node_modules/
backend/.env
backend/public/
backend/dist/
python-utils/models/*
python-utils/__pycache__/*
python-utils/.env
data/*

